<div class="px-4 sm:px-0 sm:w-2/3 m-auto">
  <h1 class="font-bold text-lg text-center">TODOs</h1>

  <% @todos.each do |todo| %>
    <h2 class="flex mb-4">
      <%= todo["id"] %>. <%= todo["title"] %>
      <%= button_to "X", remove_todo_path(id: todo["id"]), method: :delete, class: "ml-2 px-3 bg-red-200 hover:bg-red-100 rounded-full", form: { data: { turbo_confirm: "Are you sure you want to delete TODO ##{todo["id"]}" } } %>
    </h2>
  <% end %>

  <p class="text-center my-8">
    <%= link_to "Home", root_path, class: "text-blue-500" %>
  </p>
</div>
